@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #231B3B;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 0;
  color: #DDE0DC;
  font-family: 'Comic Sans MS';
  text-align: center;
}

.index{
  font-size: 4vw;
}

a{
  color: #DDE0DC;
}
